*{
   
}
body{
    background-color: #97d0d0;
}
header,main,footer{
    margin: auto;
    max-width:800px ;
}
.h1 {
    font-family:Arial, Helvetica, sans-serif ;
    width: 90%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    color:#970606;
}
.navbar{
    list-style: none;
    background-color: rgb(52, 23, 58);
    margin: 0px;
    padding: 1em;
}
.navbar ul{
    font-family:Arial, Helvetica, sans-serif ;
    list-style-type: none;
    text-align: center;
    margin: 1rem;
    padding: 0;
    overflow: hidden;
}
.navbar li {
    display: inline;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding: 15px;
    display: inline;
    text-align: center;
}
.navbar a:hover{
    text-decoration: underline;
    color:rgb(192, 232, 32);
}
.navbar a:visited{
    color:rgb(240, 165, 198);
}
.navbar a:active{
    background-color: #e1096a;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.introduction h2{
    font-family:Arial, Helvetica, sans-serif ;
    color:#970606;
    text-align: center;
    font-size: 30px;
    line-height: 2;
}
.introduction p{
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.introduction img{
    border-radius: 4%;
    padding: 5px;
    width : 100%;
}
.a1 link{
    color:red;
}
.a1:visited{
    color:green;
}
.a1:focus{
    color:rgb(123, 8, 8)
}
.a1:active{
    background-color:rgb(192, 232, 32)
}
.a2{
    color:blue;
}
.a2 link{
    color:rgb(234, 181, 209);
}
.a2:visited{
    color:rgb(149, 40, 40);
}
.a2:focus{
    color:rgb(228, 64, 27)
}
.a2:active{
    background-color:green;
}


/**********************CONTACT FORM STYLES*********/
form ul {
    list-style-type: none;
    padding-left: 0;
}
label{
    display: inline-block;
    width: 90px;
    text-align: right;
}
input,textarea{
    font: 1em san-serif;
    width: 300px;    
    padding:.25em;
}
img {
    border-radius: 50%;
}
form li{
    margin-bottom: 1em;
}
textarea{
    vertical-align: top;
}
/**************HTML AND CSS BADGE GALLERY*********/
#badge-gallery1, #badge-gallery2{
    margin: top;
}
#badge-gallery1 img, #badge-gallery2 img{
    display: block;
    width: 200px;
    margin-top: 9px;
    border-radius: 8px;
    
}
@media (min-width: 500px){
    #badge-gallery1, #badge-gallery2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6px;
        margin-top: 0;
    }
}
@media (min-width: 900px){
    #badge-gallery1, #badge-gallery2{
        grid-template-columns: repeat(3, 1fr);
        width: 900px;
        margin: auto;
    }
}
.project-card h2{
    font-family:Arial, Helvetica, sans-serif ;
    color:#970606;
   
}
.project-card p{
    line-height: 2em;
    font-size: 20px;

}
.project-card img{
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.tagline{
    font-size: 25px;
}
.thank-you h1{
    font-family:Arial, Helvetica, sans-serif ;
    color:#970606;
    line-height: 2em;
    text-align: center;
}