*{
    
}
body{
    background-color: rgb(151, 208, 208);
}
.h1 {
    font-family:Arial, Helvetica, sans-serif ;
    width: 90%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    color:#970606;
}
.navbar{
    list-style: none;
    background-color: rgb(52, 23, 58);
    margin: 0px;
    padding: 1em;
}
.navbar ul{
    font-family:Arial, Helvetica, sans-serif ;
    list-style-type: none;
    text-align: center;
    margin: 1rem;
    padding: 0;
    overflow: hidden;
}
.navbar li {
    display: inline;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding: 15px;
    display: inline;
    text-align: center;
}
.navbar a:hover{
    text-decoration: underline;
    color:rgb(192, 232, 32);
}
.navbar a:visited{
    color:blue;
}
.navbar a:active{
    background-color: #e1096a;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.introduction h2{
    font-family:Arial, Helvetica, sans-serif ;
    color:#970606;
    text-align: center;
}
.introduction p{
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.introduction img{
    border-radius: 4px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

/**********************CONTACT FORM STYLES*********/
form ul {
    list-style-type: none;
    padding-left: 0;
}
label{
    display: inline-block;
    min-width: 90px;
    text-align: right;
}
textarea{
    border: 3px solid #092;
    font: 1em san-serif;
    width: 300px;    
}
img {
    border-radius: 50%;
}
