/*******Navigation Style******/
nav{
    background-color: #e8eb2d;
    padding:1em
}
nav ul{
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}
nav li{
    display: inline;
    padding: 0 10pt; /*0 padding on top and bottom, 10pt left and right*/
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
} 
nav a{
    text-decoration: none;
    color: #64073d;
}
nav a:hover{
    text-decoration: underline;
    color: rgb(235, 22, 182);
}
nav a:visited{
    color:#1815d4;
}
nav a:active{
    color:#BC4053;
}
header, main{/** changed because of body margin 0**/
    margin:0 1em;
}

/**********************CONTACT FORM STYLES*********/
form ul {
    list-style-type: none;
    padding-left: 0;
}
label{
    display: inline-block;
    min-width: 90px;
    text-align: right;
}
input,
textarea{
    border: 3px solid #092;
    font: 1em san-serif;
    width: 300px;    
}
